body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 4em;
  color: #2385c2;
}

svg {
  display: block;
  margin: 0 auto;
  background: url('pan.png');
  background-size: contain;
}

.scoreboard {
  list-style: none;
  text-align: center;
  margin: 1em auto;
  font-weight: 300;
}

.score-label {
  display: inline-block;
  margin: 0;
  padding: 1em 2em;
  color: #fff;
  text-align: center;
  background: #2385c2;
}

.score-number {
  font-size: 3em;
}

.score-label:first-child {
  border-left: 1px solid #fff;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}

.score-label:last-child {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}

.title {
  margin: 0.2em;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.credits {
  font-size: 0.8em;
  text-align: center;
  margin: 2em auto;
}
